# Kconfig - TLA2024 configuration

#
# Copyright (c) 2018 SiFive Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig ADC_TI_TLA2024
	bool "TI TLA2024 driver"
	depends on I2C
	help
	  Enable driver for TI's TLA2024 ADC chip

if !HAS_DTS_I2C_DEVICE

config TI_TLA2024_DEV_NAME
	string "TI TLA2024 device name"
	depends on ADC_TI_TLA2024
	default "tla2024"

config TI_TLA2024_I2C_ADDR
	hex "TI TLA2024 I2C Address"
	depends on ADC_TI_TLA2024
	default 0x90
	help
		I2C address of the TI TLA2024 ADC chip.

config TI_TLA2024_I2C_MASTER_DEV_NAME
	string "I2C master where the TI TLA2024 chip is connected"
	depends on ADC_TI_TLA2024
	default "I2C_0"
	help
		Specify the device name of the I2C master device to which LTR329 is
		connected.

endif # !HAS_DTS_I2C

menu "Attributes"
	depends on ADC_TI_TLA2024

config TI_TLA2024_FS_RANGE
	int	"Full scale range of the TLA2024 ADC (mV)"
	default 6000
	help
		Specify the full-scale range of the TLA2024 ADC in mV. Supported values
		are 6000, 4000, 2000, 1000, 500, and 125 mV.

endmenu # Attributes
