# Kconfig.sifive - SiFive Freedom PWM configuration options
#
#
# Copyright (c) 2018 SiFive Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig PWM_SIFIVE
	bool "SiFive Freedom PWM driver"
	depends on PWM && SOC_FAMILY_RISCV32_SIFIVE_FREEDOM
	help
		Enable the PWM driver for the SiFive Freedom platform

